---
http_interactions:
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_API_KEY>/39.7392358,-104.990251
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 515ms
      X-Forecast-Api-Calls:
      - '164'
      X-Response-Time:
      - 88.113ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1578930921,"summary":"Clear","icon":"clear-day","nearestStormDistance":4,"nearestStormBearing":334,"precipIntensity":0,"precipProbability":0,"temperature":28.79,"apparentTemperature":28.81,"dewPoint":9.49,"humidity":0.44,"pressure":1014,"windSpeed":1.37,"windGust":5.24,"windBearing":190,"cloudCover":0.12,"uvIndex":0,"visibility":10,"ozone":398.6},"minutely":{"summary":"Clear
        for the hour.","icon":"clear-day","data":[{"time":1578930900,"precipIntensity":0,"precipProbability":0},{"time":1578930960,"precipIntensity":0,"precipProbability":0},{"time":1578931020,"precipIntensity":0,"precipProbability":0},{"time":1578931080,"precipIntensity":0,"precipProbability":0},{"time":1578931140,"precipIntensity":0,"precipProbability":0},{"time":1578931200,"precipIntensity":0,"precipProbability":0},{"time":1578931260,"precipIntensity":0,"precipProbability":0},{"time":1578931320,"precipIntensity":0,"precipProbability":0},{"t[...]
