---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=denver,co&key=<GOOGLE_GEO_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    },
                    "location" : {
                       "lat" : 39.7392358,
                       "lng" : -104.990251
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    }
                 },
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 13 Jan 2020 18:46:08 GMT
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_API_KEY>/39.7392358,-104.990251
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 706ms
      X-Forecast-Api-Calls:
      - '198'
      X-Response-Time:
      - 90.877ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1578941168,"summary":"Clear","icon":"clear-day","nearestStormDistance":0,"precipIntensity":0,"precipProbability":0,"temperature":40.28,"apparentTemperature":38.88,"dewPoint":9.24,"humidity":0.27,"pressure":1012,"windSpeed":2.96,"windGust":9.02,"windBearing":44,"cloudCover":0.23,"uvIndex":2,"visibility":10,"ozone":391.3},"minutely":{"summary":"Clear
        for the hour.","icon":"clear-day","data":[{"time":1578941160,"precipIntensity":0,"precipProbability":0},{"time":1578941220,"precipIntensity":0,"precipProbability":0},{"time":1578941280,"precipIntensity":0,"precipProbability":0},{"time":1578941340,"precipIntensity":0,"precipProbability":0},{"time":1578941400,"precipIntensity":0,"precipProbability":0},{"time":1578941460,"precipIntensity":0,"precipProbability":0},{"time":1578941520,"precipIntensity":0,"precipProbability":0},{"time":1578941580,"precipIntensity":0,"precipProbability":0},{"t[...]
