---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?key=<GOOGLE_GEO_API_KEY>&latlng=-22.3193039,-65.8306389
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "plus_code" : {
              "compound_code" : "M5J9+7P Cerrillos, Jujuy, Argentina",
              "global_code" : "579PM5J9+7P"
           },
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Ruta Provincial 69",
                       "short_name" : "RP69",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Yavi",
                       "short_name" : "Yavi",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Jujuy",
                       "short_name" : "Jujuy",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "Argentina",
                       "short_name" : "AR",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "RP69, Jujuy, Argentina",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : -22.2958599,
                          "lng" : -65.8161473
                       },
                       "southwest" : {
                          "lat" : -22.3206193,
                          "lng" : -65.85257679999999
                       }
                    },
                    "location" : {
                       "lat" : -22.3044768,
                       "lng" : -65.82989979999999
                    },
                    "location_type" : "GEOMETRIC_CENTER",
                    "viewport" : {
                       "northeast" : {
                          "lat" : -22.2958599,
                          "lng" : -65.8161473
                       },
                       "southwest" : {
                          "lat" : -22.3206193,
                          "lng" : -65.85257679999999
                       }
                    }
                 },
                 "place_id" : "ChIJFWTcF9sABJQRTMsryeLFpfw",
                 "types" : [ "route" ]
              },
              {
                 "address_components" : [
                    {
                       "long_name" : "Yavi Department",
                       "short_name" : "Yavi Department",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Jujuy",
                       "short_name" : "Jujuy",
 [...]
