---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=<UNSPLASH_API_KEY>&per_page=1&query=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/search/photos?client_id=<UNSPLASH_API_KEY>&page=1058&per_page=1&query=denver%2Cco>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=<UNSPLASH_API_KEY>&page=2&per_page=1&query=denver%2Cco>;
        rel="next"
      X-Total:
      - '1058'
      X-Per-Page:
      - '1'
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: UTF-8
      string: '{"total":1058,"total_pages":1058,"results":[{"id":"pBtdIO99UIc","created_at":"2019-10-08T21:44:07-04:00","updated_at":"2019-12-14T00:04:38-05:00","promoted_at":null,"width":1944,"height":2592,"color":"#5EC0FF","description":"Colin
        McIntosh sheetsgiggles.com","alt_description":"wide-angle photography of buildings
        during daytime","urls":{"raw":"https://images.unsplash.com/photo-1570585429632-e8b74372a3ed?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjExMDI1MX0","full":"https://images.unsplash.com/photo-1570585429632-e8b74372a3ed?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjExMDI1MX0","regular":"https://images.unsplash.com/photo-1570585429632-e8b74372a3ed?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjExMDI1MX0","small":"https://images.unsplash.com/photo-1570585429632-e8b74372a3ed?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjExMDI1MX0","thumb":"https://images.unsplash.com/photo-1570585429632-e8b74372a3ed?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjExMDI1MX0"},"links":{"self":"https://api.unsplash.com/photos/pBtdIO99UIc","html":"https://unsplash.com/photos/pBtdIO99UIc","download":"https://unsplash.com/photos/pBtdIO99UIc/download","download_location":"https://api.unsplash.com/photos/pBtdIO99UIc/download"},"categories":[],"likes":13,"liked_by_user":false,"current_user_collections":[],"user":{"id":"uCjRDd85Gm8","updated_at":"2020-01-01T06:03:21-05:00","username":"melissamullinator","name":"Melissa
        Van Gogh","first_name":"Melissa","last_name":"Van Gogh","twitter_username":"thehealthymel","portfolio_url":"http://Thehealthymelissa.com","bio":"Tag
        me on insta @thehealthymelissa","location":"Florida","links":{"self":"https://api.unsplash.com/users/melissamullinator","html":"https://unsplash.com/@melissamullinator","photos":"https://api.unsplash.com/users/melissamullinator/photos","likes":"https://api.unsplash.com/users/melissamullinator/likes","portfolio":"https://api.unsplash.com/users/melissamullinator/portfolio","following":"https://api.unsplash.com/users/melissamullinator/following","followers":"https://api.unsplash.com/users/melissamullinator/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1560520480097-c6b5d4435ac8?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32","medium":"https://images.unsplash.com/profile-1560520480097-c6b5d4435ac8?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64","large":"https://images.unsplash.com/profile-1560520480097-c6b5d4435ac8?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128"},"instagram_username":"thehealthymelissa","total_collections":4,"total_likes":1112,"total_photos":107,"accepted_tos":true},"tags":[{"type":"search","title":"handrail"},{"type":"search","title":"banister"},{"type":"search","title":"building"}]}]}'
  recorded_at: Mon, 13 Jan 2020 15:49:33 GMT
recorded_with: VCR 5.0.0
